.grid {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;

    &-full {
        height: 100%;
        width: 100%;
        flex: 1 1 auto;
    }

    &-wide {
        width: 100%;
    }

    &-half {
        width: 50%;

        @include media("screen", "<=sm") {
            width: 100%;
        }
    }

    &-third {
        width: 33%
    }
    &-twothird {
        width: 66.6%
    }
    &-twothird {
        width: 66.6%
    }
    &-even {
        justify-content: space-evenly;
    }

    &-top {
        align-items: flex-start;
    }

    &-col {
        flex-flow: column;
    }

    &-left {
        align-items: flex-start;
    }

    &-right {
        justify-content: flex-end;
    }

    &-center {
        justify-content: center;
    }

    &-wrap {
        flex-wrap: wrap;
    }

    &-stretch {
        align-items: stretch;
    }

    &-grow {
        flex-grow: 1;
    }

    &-square {
        &:after {
            content: '';
            padding-bottom: 100%;
        }
    }

    .grid-item {
        display: flex;
        align-items: center;
    }

}

.width {
    &-1 {
        width: 100%;
    }

    &-2 {
        width: 50%;
    }

    &-3 {
        width: 33%;
    }

    &-4 {
        width: 25%;
    }

    &-5 {
        width: 20%;
    }
}