.grid {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-full {
        height: 100%;
        width: 100%;
        flex: 1 1 auto;
    }

    &-even {
        justify-content: space-evenly;
    }

    &-top {
        align-items: flex-start;
    }

    &-col {
        flex-flow: column;
    }

    &-left {
        align-items: flex-start;
    }

    &-right {
        justify-content: flex-end;
    }

    &-center {
        justify-content: center;
    }

    &-wrap {
        flex-wrap: wrap;
    }

    &-stretch {
        align-items: stretch;
    }

    &-grow {
        flex-grow: 1;
    }

    &-square {
        &:after {
            content: '';
            padding-bottom: 100%;
        }
    }

    .grid-item {
        display: flex;
        align-items: center;
    }

}

.blue {
    background: blue;
}

.red {
    background: red;
}

.gray {
    background: gray;
}