.m-drawer-btn {
    display: none;
    padding: 16px 20px;
    position: absolute;
    right: 0;
    top: 0;

    .icon {
        font-weight: bold;
    }
}

.m-drawer {
    .m-drawer-btn {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.sm-only {
    @include media("screen", ">sm") {
        display: none;
    }
}


@include media("screen", "<=sm") {

    .not-sm {
        display: none;
    }

    .m-drawer {
        background: $white;
        position: absolute;
        left: 100%;
        transition: left 200ms ease-in;

        &-btn {
            display: inline;
        }

        &.active {
            left: 0%;
        }
    }
}