@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("/public/icons/Roboto-Black.ttf") format("ttf");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/public/icons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: url("/public/icons/MaterialIcons-Regular.woff2") format("woff2"), url("/public/icons/MaterialIcons-Regular.woff") format("woff"), url("/public/icons/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

body,
#app {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  background: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.body-content {
  text-align: center;
}

.width-limiter {
  height: 100%;
  width: 100%;
  max-width: 992px;
  text-align: left;
  margin: 0 auto;
}

.hide {
  display: none !important;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header {
  background: #f28000;
  color: white;
  padding: 10px 20px;
  height: 68px;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px -1px rgba(33, 33, 33, 0.66);
          box-shadow: 0 1px 2px -1px rgba(33, 33, 33, 0.66);
  z-index: 1000;
}

header .grid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  font-size: 30px;
  font-weight: bold;
  margin-left: 42px;
  position: relative;
  text-decoration: underline;
  color: #f9f9f9;
}

header .logo:before {
  content: "";
  background: url("/images/eighth-blue.svg") no-repeat;
  height: 62px;
  width: 42px;
  display: block;
  position: absolute;
  left: -42px;
  z-index: 100;
}

header .nav {
  background: #f28000;
  list-style: none;
  margin: 0;
  padding: 0;
}

header .nav .nav-item {
  position: relative;
  padding: 8px 12px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  header .nav .nav-item {
    display: inline-block;
  }

  header .nav .nav-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #f9f9f9;
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 150ms;
    transition: all 150ms;
  }
}

header .nav .nav-item:hover:after {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (max-width: 767px) {
  header .nav.collapse {
    background: #e64a19;
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }

  header .nav.collapse.active {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media screen and (min-width: 768px) {
  header .nav.collapse {
    display: block;
  }
}

header .nav-toggle {
  border: 2px solid #f9f9f9;
  border-radius: 4px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin: 4px;
}

@media screen and (min-width: 768px) {
  header .nav-toggle {
    display: none;
  }
}

footer {
  text-align: center;
  position: relative;
  margin-top: auto;
  background: #757575;
  padding: 10px 20px;
}

#player {
  text-align: center;
  background: #0f0e00;
  padding: 10px 20px;
  color: #f9f9f9;
}

#player .song-details {
  font-size: 20px;
  margin: 6px auto;
}

#player .controls {
  color: #f9f9f9;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player .controls .previous,
#player .controls .next {
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

#player .controls .previous i,
#player .controls .next i {
  position: relative;
  bottom: -3px;
}

#player .controls .previous:after,
#player .controls .next:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #f9f9f9;
}

#player .controls .previous .artwork,
#player .controls .next .artwork {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 0 3px -1px #0f0e00;
          box-shadow: 0 0 3px -1px #0f0e00;
  position: absolute;
  bottom: 0;
  display: none;
}

@media screen and (min-width: 769px) {
  #player .controls .previous .artwork,
  #player .controls .next .artwork {
    display: block;
  }
}

#player .controls .previous .artwork {
  left: 100%;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

#player .controls .next .artwork {
  right: 100%;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

#player .controls .control-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player .controls .control {
  background: rgba(255, 255, 255, 0.33);
  border-radius: 100%;
  color: #0f0e00;
  width: 36px;
  height: 36px;
  font-size: 40px;
  margin: 0 4px;
}

#player .controls .control.stop {
  border-radius: 2px;
  width: 32px;
  height: 32px;
}

#player .controls .control.pause {
  font-size: 32px;
}

#player .playtime {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  position: relative;
}

#player .playtime-display {
  text-align: right;
}

#player .playtime .bar-container {
  width: 100%;
  height: 100%;
  height: 18px;
  position: relative;
  cursor: pointer;
}

#player .playtime .bar {
  position: absolute;
  border-radius: 4px;
  background: #757575;
  -webkit-box-shadow: 0 0 2px #0f0e00;
          box-shadow: 0 0 2px #0f0e00;
  width: 100%;
  height: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#player .playtime .bar.current {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #56BF90;
  height: 3px;
  width: 76%;
}

#player .playtime .bar-cursor {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #f9f9f9;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  right: 24%;
}

.playlists {
  padding: 10px;
}

.playlists-header {
  background: -webkit-gradient(linear, left top, right top, from(#f28000), color-stop(#e64a19), to(#5908a5));
  background: linear-gradient(to right, #f28000, #e64a19, #5908a5);
  padding: 12px 20px;
  border-radius: 20px 20px 0 0;
  text-align: left;
  color: #f9f9f9;
  font-size: 18px;
}

.playlists .playlist-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 20px;
  background: rgba(33, 33, 33, 0.33);
  color: #f9f9f9;
}

.playlists .playlist-item a {
  text-decoration: none;
  color: inherit;
}

.playlist {
  position: relative;
}

.playlist-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.playlist-body .header {
  font-size: 28px;
  border-bottom: 1px solid #0f0e00;
  margin-bottom: 10px;
}

.playlist-body .comments-container {
  width: 66.666%;
  padding: 10px;
}

.playlist-body .songs-container {
  width: 33.333%;
  text-align: left;
  padding: 10px;
}

.playlist-body .songs-container .song {
  background: #011627;
  color: #f9f9f9;
  padding: 10px 6px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4px;
}

@media screen and (max-width: 767px) {
  .playlist-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }

  .playlist-body .comments-container,
  .playlist-body .songs-container {
    width: 100%;
  }
}

.playlist .heading {
  position: relative;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-shadow: 0 1px 2px -1px rgba(33, 33, 33, 0.66);
          box-shadow: 0 1px 2px -1px rgba(33, 33, 33, 0.66);
}

.playlist .heading .artwork {
  width: 100%;
  display: block;
}

.playlist .heading .details {
  background: -webkit-gradient(linear, left top, right top, from(#f28000), color-stop(50%, #e64a19), color-stop(120%, #5908a5));
  background: linear-gradient(to right, #f28000, #e64a19 50%, #5908a5 120%);
  color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 12px;
  border-radius: 100px;
  -webkit-box-shadow: 0 1px 4px -1px #0f0e00;
          box-shadow: 0 1px 4px -1px #0f0e00;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .playlist .heading .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    border-radius: 20px;
    padding: 12px 40px;
  }
}

.playlist .heading .details .name {
  font-size: 18px;
  white-space: normal;
}

.playlist .heading .details .play-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .playlist .heading .details .play-group .item {
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}

@media screen and (max-width: 575px) {
  .playlist .heading .details .play-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .playlist .heading .details .play-group .item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.playlist .heading .details .play {
  width: 62px;
  height: 62px;
  padding: 10px;
  background: #f9f9f9;
  color: #0f0e00;
  font-size: 42px;
  border-radius: 100%;
}

.playlist .heading .details .item {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  white-space: nowrap;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .playlist .heading .details .item {
    padding: 10px 20px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.playlist .heading .details .item.divider {
  border-left: 1px solid #ffccbc;
  border-right: 1px solid #ffccbc;
}

@media screen and (max-width: 767px) {
  .playlist .heading .details .item.divider {
    border-left: none;
    border-right: none;
  }
}

.playlist .heading .details .item.song-list-container {
  position: relative;
}

.playlist .heading .details .item.song-list-container .song-list {
  max-width: 200px;
}

.playlist .heading .details .item.song-list-container .song-list .song-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist .heading .details .item.song-list-container .more {
  text-align: center;
  cursor: pointer;
}

.playlist-description {
  text-align: center;
  padding: 16px;
  width: 100%;
  color: #f9f9f9;
  font-size: 18px;
  background: rgba(33, 33, 33, 0.33);
}

.playlist-description .width-limiter {
  text-align: center;
}

.comments-container {
  text-align: left;
}

.comments-container .comment {
  border-radius: 4px;
  padding: 12px;
  -webkit-box-shadow: 0 1px 2px -1px rgba(33, 33, 33, 0.66);
          box-shadow: 0 1px 2px -1px rgba(33, 33, 33, 0.66);
  margin-bottom: 10px;
}

.comments-container .comment.reply {
  margin-left: 32px;
}

.comments-container .comment-header {
  border-bottom: 1px solid rgba(33, 33, 33, 0.33);
}

.comments-container .comment-body {
  padding: 8px 0;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.grid-even {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

