@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("/public/icons/Roboto-Black.ttf") format("ttf");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/public/icons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: url("/public/icons/MaterialIcons-Regular.woff2") format("woff2"), url("/public/icons/MaterialIcons-Regular.woff") format("woff"), url("/public/icons/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

body,
#app {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  background: #fffafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.body-content {
  text-align: center;
}

.width-limiter {
  height: 100%;
  width: 100%;
  max-width: 992px;
  text-align: left;
  margin: 0 auto;
}

.hide {
  display: none !important;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header {
  background: #E95620;
  color: white;
  padding: 10px 20px;
  height: 68px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 2px #1b1b1b;
          box-shadow: 0px 1px 2px #1b1b1b;
  z-index: 1000;
}

header .grid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  font-size: 30px;
  font-weight: bold;
  margin-left: 42px;
  position: relative;
}

header .logo:before {
  content: "";
  background: url("/images/eighth-blue.svg") no-repeat;
  height: 62px;
  width: 42px;
  display: block;
  position: absolute;
  left: -42px;
  z-index: 100;
}

header .nav {
  background: #E95620;
  list-style: none;
  margin: 0;
  padding: 0;
}

header .nav .nav-item {
  position: relative;
  padding: 8px 12px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  header .nav .nav-item {
    display: inline-block;
  }

  header .nav .nav-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #fffafa;
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 150ms;
    transition: all 150ms;
  }
}

header .nav .nav-item:hover:after {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (max-width: 767px) {
  header .nav.collapse {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    background: #F77849;
    position: fixed;
    top: 68px;
    left: 0;
    right: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }

  header .nav.collapse.active {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media screen and (min-width: 768px) {
  header .nav.collapse {
    display: block;
  }
}

header .nav-toggle {
  border: 2px solid #fffafa;
  border-radius: 4px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px;
}

@media screen and (min-width: 768px) {
  header .nav-toggle {
    display: none;
  }
}

footer {
  text-align: center;
  position: relative;
  margin-top: auto;
  background: #d9d9d9;
  padding: 10px 20px;
}

#player {
  text-align: center;
  background: #1b1b1b;
  padding: 10px 20px;
  color: #fffafa;
}

#player .song-details {
  font-size: 20px;
  margin: 6px auto;
}

#player .controls {
  color: #fffafa;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player .controls .previous,
#player .controls .next {
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

#player .controls .previous i,
#player .controls .next i {
  position: relative;
  bottom: -3px;
}

#player .controls .previous:after,
#player .controls .next:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #fffafa;
}

#player .controls .previous .artwork,
#player .controls .next .artwork {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 0 3px -1px #1b1b1b;
          box-shadow: 0 0 3px -1px #1b1b1b;
  position: absolute;
  bottom: 0;
  display: none;
}

@media screen and (min-width: 769px) {
  #player .controls .previous .artwork,
  #player .controls .next .artwork {
    display: block;
  }
}

#player .controls .previous .artwork {
  left: 100%;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

#player .controls .next .artwork {
  right: 100%;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

#player .controls .control-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player .controls .control {
  background: rgba(255, 255, 255, 0.33);
  border-radius: 100%;
  color: #1b1b1b;
  width: 36px;
  height: 36px;
  font-size: 40px;
  margin: 0 4px;
}

#player .controls .control.stop {
  border-radius: 2px;
  width: 32px;
  height: 32px;
}

#player .controls .control.pause {
  font-size: 38px;
}

#player .playtime {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  position: relative;
}

#player .playtime-display {
  text-align: right;
}

#player .playtime .bar-container {
  width: 100%;
  height: 100%;
  height: 18px;
  position: relative;
  cursor: pointer;
}

#player .playtime .bar {
  position: absolute;
  border-radius: 4px;
  background: #d9d9d9;
  -webkit-box-shadow: 0 0 2px #1b1b1b;
          box-shadow: 0 0 2px #1b1b1b;
  width: 100%;
  height: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#player .playtime .bar.current {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #56BF90;
  height: 3px;
  width: 76%;
}

#player .playtime .bar-cursor {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #fffafa;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  right: 24%;
}

.playlist-item .details .artwork {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.playlist .heading {
  position: relative;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.playlist .heading .artwork {
  width: 100%;
  display: block;
}

.playlist .heading .details {
  background: #E95620;
  color: #fffafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 12px;
  border-radius: 100px;
  -webkit-box-shadow: 0 1px 4px -1px #1b1b1b;
          box-shadow: 0 1px 4px -1px #1b1b1b;
  max-width: 100%;
}

.playlist .heading .details .details-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.playlist .heading .details .play {
  padding: 10px;
  background: #fffafa;
  color: #1b1b1b;
  font-size: 42px;
  border-radius: 100%;
}

.playlist .heading .details .item {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  white-space: nowrap;
  text-align: left;
}

.playlist .heading .details .item:nth-child(3) {
  border-left: 1px solid #FF9973;
  border-right: 1px solid #FF9973;
}

.playlist .heading .details .item.song-list-container {
  position: relative;
}

.playlist .heading .details .item.song-list-container .song-list.full {
  border-radius: 4px;
  border-top-right-radius: 50px;
  margin-left: -20px;
  background: #E95620;
  position: absolute;
  padding: 20px;
  top: -12px;
  left: 20px;
  right: -12px;
  max-height: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  visibility: hidden;
}

.playlist .heading .details .item.song-list-container .song-list .song-name {
  white-space: nowrap;
}

.playlist .heading .details .item.song-list-container:hover .song-list.short {
  visibility: hidden;
}

.playlist .heading .details .item.song-list-container:hover .song-list.full {
  max-height: 5000px;
  visibility: visible;
}

.playlist-description {
  text-align: center;
  padding: 16px;
  width: 100%;
  color: #fffafa;
  font-size: 18px;
  background: rgba(33, 33, 33, 0.33);
}

.playlist-description .width-limiter {
  text-align: center;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.grid-even {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

