* {
    box-sizing: border-box;
}
html, body, #app {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body, #app {
    font-family: $main-font-family;
    font-size: $main-font-size;
    background: $white;
    display: flex;
    flex-direction: column;
    color: $black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.body-content {
    //flex-grow: 1;
}

// !!container with this inside requires horizontal center alignment!!
.width-limiter {
    height: 100%;
    width: 100%;
    max-width: $width-limit;
    text-align: left;
    margin: 0 auto;
}

.hide {
    display: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}
