// Colors
$white: #fffafa;
$black: #1b1b1b;
$blue: #4484ce;
$gray: #d9d9d9;
$yellow: #f9cf00;
$orange: #f19f4d;

// Typography
$main-font-family: "Roboto", sans-serif;
$main-font-size: 0.9rem;
$main-line-height: 1.6;

// Layout settings
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$width-limit: $lg;
$container-padding: 10px 20px;
$header-height: 68px;

$player-height: 100px;
