// Colors
$white: #fffafa;
$black: #1b1b1b;
$blue: #4484ce;
$gray: #d9d9d9;
$yellow: #f9cf00;
$orange: #f19f4d;



$color-primary: #E95620;    // Primary color
$color-primary-1: #FF9973;
$color-primary-2: #F77849;
$color-primary-3: #BB3A0A;
$color-primary-4: #932800;

$color-comp: #16A162;	// Main Complement color
$color-comp-1: #56BF90;
$color-comp-2: #32AA74;
$color-comp-3: #078149;
$color-comp-4: #006537;


$color-adj-1: #E99120;	// Adjacent color 1
$color-adj-1-1: #FFC273;
$color-adj-1-2: #F7AB49;
$color-adj-1-3: #BB6E0A;
$color-adj-1-4: #935300;

$color-adj-2: #CF1C55;	// Adjacent color 2
$color-adj-2-1: #E86991;
$color-adj-2-2: #DB4172;
$color-adj-2-3: #A6093B;
$color-adj-2-4: #82002A;



$color-tri-1-0: #1C6395;	// Triad color 1
$color-tri-1-1: #588EB5;
$color-tri-1-2: #36739E;
$color-tri-1-3: #0D4C78;
$color-tri-1-4: #05395E;

$color-tri-2-0: #71D01D;	// Triad color 2
$color-tri-2-1: #A5E969;
$color-tri-2-2: #8ADC41;
$color-tri-2-3: #53A709;
$color-tri-2-4: #3E8300;



$color-tet-1-0: #E99120;	// Tetrad color 1
$color-tet-1-1: #FFC273;
$color-tet-1-2: #F7AB49;
$color-tet-1-3: #BB6E0A;
$color-tet-1-4: #935300;

$color-tet-2-0: #1C6395;	// Tetrad color 2
$color-tet-2-1: #588EB5;
$color-tet-2-2: #36739E;
$color-tet-2-3: #0D4C78;
$color-tet-2-4: #05395E;








// Typography
$main-font-family: "Roboto", sans-serif;
$main-font-size: 0.9rem;
$main-line-height: 1.6;

// Layout settings
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$width-limit: $lg;
$container-padding: 10px 20px;
$header-height: 68px;

$player-height: 100px;
