
$orange: #e64a19;
$purple: rgb(204, 0, 102);

$white: rgb(250, 250, 250);

$black-light: rgb(40, 40, 40);
$black: rgb(33, 33, 33);
$blacker: rgb(20, 20, 20);
$blackest: rgb(8, 8, 8);

$trans-black: rgba(20, 20, 20, .33);

$gray: rgb(88, 88, 88);
$gray-light: rgb(162, 162, 162);



$linear-orange-purple: linear-gradient(to right, $orange, $purple);
$shadow-box: 0 1px 4px -1px $black;


// Typography
$main-font-family: "Roboto", sans-serif;
$main-font-size: 14px;
$main-line-height: 1.6;

// Layout settings
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$width-limit: $lg;
$container-padding: 10px 20px;
$header-height: 68px;

$player-height: 100px;
