#basic-input-data{
    display: inline-block;
}
.modal-add-content{
    padding:15px;
}
#file-upload{
  width:100%;
}
#descp-input{
    width:100%;
    padding:15px;
}
#prev-image{
    width:150px;
    height:150px;
}