.comments-container {
    text-align: left;

    .comment {
        border-radius: 4px;
        padding: 12px;
        box-shadow: $shadow-box;    
        margin-bottom: 10px;

        &.reply {
            margin-left: 32px;
        }

        &-header {
            border-bottom: 1px solid $trans-black;
        }

        &-body {
            padding: 8px 0;
        }

        &-footer {
            //border-top: 1px solid $trans-black;
        }
    }

}