header {
    padding: 12px 20px;

    .btn {
        margin-left: 8px;
    }

    .logo {
        display: block;
        width: 20%;
        min-width: 120px;
        max-width: 200px;

        img {
            width: 100%;
        }
    }
}