.modal-wrapper{
    background-color:  rgba(255,255,255,0.5);
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
.modal-header {
    padding: 4px 16px;
    background-color:white;
    color: black;
    opacity: 1;
}

.modal-container{
    margin:0 auto;
    padding:15px;
    margin-top:50px;
    border-radius:15px;
    -webkit-box-shadow: 0px 0px 46px 3px rgba(235,235,235,1);
    -moz-box-shadow: 0px 0px 46px 3px rgba(235,235,235,1);
    box-shadow: 0px 0px 46px 3px rgba(235,235,235,1);
    position: fixed;
    background-color: #fefefe;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}