#player {
    text-align: center;
    background: $blue;
    padding: $container-padding;
    color: $white;

    .navigation {
        display: flex;
        justify-content: space-between;

        .previous, .next {
            font-size: 18px;
            position: relative;
            cursor: pointer;

            i {
                position: relative;
                bottom: -3px;
            }
            
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: 0;
                background-color: $white;
            }
        }
    }

    .controls {
        color: $white;
        cursor: pointer;

        .control {
            background: $white;
            border-radius: 100%;
            color: $black;
            width: 42px;
            height: 42px;
            font-size: 40px;
        }
    }

    .playtime {
        width: 100%;
        max-width: 420px;
        height: 24px;
        margin: 10px auto;
        position: relative;

        &-display {
            position: absolute;
            right: 0;
            top: -10px;
            text-align: right;
        }

        .bar {
            position: absolute;
            border-radius: 4px;
            background: $gray;
            box-shadow: 0 0 2px $black;
            width: 100%;
            height: 3px;
            top: 10px;
            cursor: pointer;

            &.current {
                top: 10px;
                background: $color-comp-1;
                height: 3px;
                width: 76%;
            }

            &-cursor {
                width: 8px;
                height: 8px;
                border-radius: 100%;
                box-shadow: 0 0 1px $white;
                background: $white;
                position: absolute;
                top: 7px;
                right: 24%;
                cursor: pointer;
                transition-property: right;
                transition-timing-function: linear;
                transition-duration: 50ms;
            }
        }
    }
}