.playlist-item {

    .details {

        .artwork {
            width: 100%;
            object-fit: cover;
        }
    }
}

.playlist {

    .heading {
        position: relative;
        min-height: 500px;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        
        .artwork {
            width: 100%;
            display: block;
        }

        .details {
            background: $color-primary;
            color: $white;
            display: flex;
            flex-flow: row wrap;
            padding: 12px;
            border-radius: 100px;
            box-shadow: 0 1px 4px -1px $black;
            max-width: 100%;

            .details-column {
                flex: 1;
                display: flex;
                flex-flow: row;
                justify-content: center;
            }

            .play {
                padding: 10px;
                background: $white;
                color: $black;
                font-size: 42px;
                border-radius: 100%;
            }

            .item {
                padding: 0 20px;
                display: flex;
                justify-content: center;
                flex-flow: column;
                white-space: nowrap;
                text-align: left;

                &:nth-child(3) {
                    border-left: 1px solid $color-primary-1;
                    border-right: 1px solid $color-primary-1;
                }

                &.song-list-container {
                    // border-left: 1px solid $white;
                    position: relative;

                    .song-list {
                        

                        &.full {
                            border-radius: 4px;
                            border-top-right-radius: 50px;
                            margin-left: -20px;
                            background: $color-primary;
                            position: absolute;
                            padding: 20px;
                            top: -12px;
                            left: 20px;
                            right: -12px;
                            max-height: 0;
                            transition: all 200ms ease-in-out;
                            visibility: hidden;
                        }

                        .song-name {
                            white-space: nowrap;
                        }
    
                    
                    }

                    &:hover {
                        
                        .song-list {

                            &.short {
                                visibility: hidden;
                            }

                            &.full {
                                max-height: 5000px;
                                visibility: visible;
                            }
                        }
                    }
                }

                

            }
        }
    }

    &-description {
        text-align: center;
        padding: 16px;
        width: 100%;
        color: $white;
        font-size: 18px;
        background: rgba(33, 33, 33, .33);

        .width-limiter {
            text-align: center;
        }
    }
}