.player {
    padding: 32px 20px;

    &-container {
        position: relative;
    }

    .controls {
        padding: 40px;
        // border-radius: 100%;
        // border: 10px solid $orange;
        // box-shadow: 0 0 10px -1px $orange inset;

        .play-btn, .pause-btn {
            width: 48px;
            height: 48px;
            font-size: 32px;
        }
    
        .skip-btn {
            width: 38px;
            height: 38px;
            font-size: 24px;
        }
    }


    .song-details {
        text-align: left;
        position: absolute;
        bottom: 100%;

        .name, .artist {
            font-size: 16px;
        }

        .album {
            font-size: 13px;
        }
    }

    .playtime {
        width: 60%;
    }

    .progress-container {
        width: 100%;
        text-align: right;
      
        .song-progress {
            height: 3px;

            
            &-wrap {
                width: 100%;
                height: 12px;
                padding: 4px 0;

                * {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .duration {
            margin-left: 12px;
        }
    }

    .volume, .song-progress {
        background: $gray;
        border-radius: 100px;
        overflow: hidden;
        box-shadow: 0 0 4px -1px $orange;

        &-wrap {
            cursor: pointer;
        }
    }

    .volume-container {
        height: 100px;
        width: 12px;

        .volume-wrap {
            height: 100%;
            padding: 0 4px;

            * {
                width: 100%;
                height: 100%;
            }
        }

        .icon {
            transform: rotate(-90deg);
            margin-top: 6px;
            color: $gray-light;
        }
    }
}