.imageHolder{
    width:100%;
    img{
        width: 60%;
        margin: 0 auto;
        height: auto;
        transition: .5s ease;
        &:hover{
            opacity: 0.3;
        }
        &:hover + .playButton{
            opacity: 1;
        }
    }


}
.playButton{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}   
.swiper-slide {
    height:340px !important;
    flex-flow:column;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
// @include media("screen", "<=sm") {
//     .swiper-slide {
//         width:250px;
//         font-size: 10px;
//     }
// }
// @include media("screen", "<=md") {
//     .swiper-slide {
//         width:250px;
//         font-size: 18px;
//     }
// }

// @include media("screen", "<=lg") {
//     .swiper-slide {
//         width:250px;
//         font-size: 18px;
//     }
// }

