.top-navigation {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 20px;
}

.comment-btn,
.playlist-btn {
    padding-top: 6px;
}

.playlist-header {
    padding: 12px 66px;

    
    .playlist-name {
        // padding-top: 5%;
        font-size: 20px;
        text-align: center;
    }

    .playlist-creator {
        padding-top: 6px;
        font-size: 14px;
        color: $gray;
    }
}
.playlist-social {
    @include media("screen", "<=sm") {
        padding:15px;
    }
}