.top-navigation {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 20px;
}

.playlist-header {
    @include media("screen", "<=sm") {
        padding-top:25%;
    }
    padding: 12px 20px;
}
.playlist-social{
    @include media("screen", "<=sm") {
        padding:15px;
    }
}